{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- header part start  -->
    {% include 'include/second_header.html' %}
    

    <!-- mobile navigation start -->
    {% include 'include/mobile_header.html' %}

    <!-- header part end  -->


    <main>

        <!-- banner  -->

        <div class="inner-banner">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-12">
                        <div class="inner-banner-head">
                            <h1>Корзина</h1>
                        </div>

                        <div class="inner-banner-item">
                            <div class="left">
                                <a href="{% url 'index' %}">Главная</a>
                            </div>
                            <div class="icon">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 7L14 12L10 17" stroke="#E5E6EB" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>Корзина</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner  -->



        <!-- Shopping Cart  start -->



        <section class="shopping-cart-two shopping-cart-new-address  ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6 ">
                        <form action="{% url 'create_billing' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="shopping-cart-new-address-top-item">
                                        <div class="shopping-cart-new-address-taitel">
                                            <h4>Оформить заказ</h4>
                                        </div>

                                        <div class="shopping-cart-new-address-top-btn">
                                            <a href="{% url 'index' %}">
                                                <span>
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M5 8H15C17.2091 8 19 9.79086 19 12V12C19 14.2091 17.2091 16 15 16H5M5 8L9 5M5 8L9 11"
                                                            stroke="#394150" stroke-width="1.5" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </span>
                                                Главная
                                            </a>
                                        </div>
                                    </div>

                                    <div class="shopping-cart-new-address-from">
                                        <div class="shopping-cart-new-address-from-item">
                                            <div class="shopping-cart-new-address-from-inner">
                                                <label class="form-label">Адрес доставки</label>
                                                <input type="text" class="form-control" name="address" placeholder="Адрес Доставки">
                                            </div>
                                            <div class="shopping-cart-new-address-from-inner">
                                                <label for="exampleFormControlInput1" class="form-label">Ваш номер телефона</label>
                                                <input type="text" class="form-control" name="phone" placeholder="Ваш номер телефона">
                                            </div>
                                        </div>
                                        
                                        <div class="shopping-cart-new-address-from-item">
                                            <div class="shopping-cart-new-address-from-inner">
                                                <label for="exampleFormControlInput1" class="form-label">Способ оплаты:</label>
                                                <select class="form-select" name="payment_method" aria-label="Default select example">
                                                    <option selected>Способ оплаты:</option>
                                                    <option value="Наличные">Наличные</option>
                                                    <option value="Наличные">Mbank</option>
                                                    <option value="Наличные">Optima</option>
                                                    <option value="Наличные">О деньги</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="shopping-cart-new-address-from-btn">
                                            <div class="check-btn">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="billing_receipt_type" value="Доставка" checked>
                                                    <label class="form-check-label" for="flexCheckDefault">Доставка</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="billing_receipt_type" value="Самовывоз">
                                                    <label class="form-check-label" for="flexCheckDefault1">Самовывоз</label>
                                                </div>
                                            </div>
                                            

                                            <div class="check-btn-two">
                                                <input type="hidden" name="total_price" value="{{ total_price }}">
                                                <button class="main-btn-four" type="submit">Оформить</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="col-lg-4 col-md-6 ">
                        <div class="cart-summary-box">
                            <div class="cart-summary-box-text">
                                <h3>Общая сумма</h3>
                            </div>

                            <div class="cart-summary-box-item-top">
                                {% if cart_items %}
                                {% for item in cart_items %}
                                <div class="cart-summary-box-item">
                                    <a href="{% url 'product_detail' item.product.id  %}">
                                        <div class="cart-summary-box-inner">
                                            <div class="cart-summary-box-img">
                                                <!-- <img src="{{ item.product.iiko_image }}" width="10%" alt="{{ item.product.title }}"> -->
                                            </div>
                                            <div class="cart-summary-box-text-two">
                                                <h4>{{ item.product.title }} {{ item.product.price }} KGS</h4>
                                                <h5><span>Количество:</span> {{ item.quantity }}</h5>
                                                <p>Итого: {{item.total_price }} KGS</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>


                            <div class="apply-coupon">
                                <div class="apply-coupon-taitel">
                                    <h4>Ввести промокод</h4>
                                </div>

                                <div class="apply-coupon-btn">
                                    <div class="apply-coupon-form">
                                        <input type="email" class="form-control" id="exampleFormControlInput12"
                                            placeholder="Промокод">
                                    </div>
                                    <div class="apply-coupon-btn-two">
                                        <a href="#">Принять</a>
                                    </div>
                                </div>


                                <div class="apply-coupon-box">
                                    <div class="shopping-cart-list">
                                       
                                        <div class="shopping-cart-list-text">
                                            <h4>Доставка</h4>
                                            {% if free_delivery == True %}
                                            <a href="#">Бесплатно</a>
                                            {% else %}
                                            <a href="#">250 KGS</a>
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                    <div class="shopping-cart-list shopping-cart-list-btm ">
                                        <div class="shopping-cart-list-text">
                                            <h4>Итого</h4>
                                            <a href="#">{{ total_price }} KGS</a>
                                        </div>
                                    </div>

                                    <!-- <div class="shopping-cart-list-btn">
                                        <a href="#" class="main-btn-six">
                                            Place Order

                                            <span>
                                                <svg width="14" height="10" viewBox="0 0 14 10" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9 9L13 5M13 5L9 1M13 5L1 5" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Shopping Cart end  -->

        <!-- Restaurant part-start -->

        <section class="restaurant">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="restaurant-taitel">
                            <h2>Find out Better Restaurant Food Experience</h2>

                            <h4>We've done it carefully and simply. Combined with the ingredients makes for beautiful
                                landings.</h4>
                        </div>

                        <div class="restaurant-taitel-btn">
                            <a href="#"> <span>
                                    <img src="{% static 'assets/images/icon/Google_Play.png' %}" alt="icon">
                                </span> Google Play</a>
                            <a href="#" class=" restaurant-taitel-btn-two"> <span>
                                    <img src="{% static 'assets/images/icon/apple.png' %}" alt="icon">
                                </span> Google Play</a>
                        </div>
                    </div>


                    <div class="col-lg-6" data-aos="fade-left">
                        <div class="restaurant-img-main">
                            <div class="restaurant-img">
                                <img src="{% static 'assets/images/thumb/restaurant.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Restaurant part-end -->

    </main>

    <!-- footer part start  -->

    {% include 'include/footer.html' %}


    <!-- footer part end  -->

{% endblock %}