{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- header part start  -->
    {% include 'include/second_header.html' %}

    <!-- mobile navigation start -->
    {% include 'include/mobile_header.html' %}

    <!-- header part end  -->


    <main>

        <!-- banner  -->



        <!-- banner  -->


        <!-- contact part start  -->

        <section class="contact-us s-padding inner-banner" style="background: white !important;">
            <div class="container">
                <div class="flex">



                    <div class=" col-md-6">
                        <div class="contact-us-from">
                            <div class="from">
                                <form method="post">
                                    {% csrf_token %}

                                    <div class="from-item from-item-two ">
                                        <div class="from-inner">
                                            <label class="form-label">Код оплаты*</label>
                                            <input type="text" class="form-control" name="payment_code"
                                                placeholder="Код оплаты" value="{{ billing.payment_code }}">
                                        </div>
    
                                    </div>
    
    
    
                                    <div class="from-btn">
                                        <button type="submit" class="main-btn-four">Проверить</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if billing and billing.title != 'Error' %}
                    <div style="width: 100%;" class="contact-us-from">
                        <h3>Детали вашего заказа</h3>
                        <p>Заказ ID: 7346128296</p>
                        <br>
                        <div class="flex-justify-between">
                            <h6>Дата:</h6>
                            <p>{{ billing.created|date }}</p>
                        </div>
                        <div class="flex-justify-between">
                            <h6>Время:</h6>
                            <p>{{ billing.created|time }}</p>
                        </div>
                        <div class="flex-justify-between">
                            <h6>Тип заказа:</h6>
                            <p>{{ billing.billing_receipt_type }}</p>
                        </div>
                        {% if billing.billing_receipt_type != 'Самовывоз' %}
                        <div class="flex-justify-between">
                            <h6>Цена доставки:</h6>
                            <p>{{ billing.delivery_price }}</p>
                        </div>
                        {% endif %}
                        <div class="flex-justify-between">
                            <h6>Итого:</h6>
                            <p>{{ billing.total_price }} KGS</p>
                        </div>
                        <div class="border-bottom">

                        </div>
                        {% for product in products %}
                        <div class="flex-justify-between">
                            <h6>{{ product.product.title }} ({{ product.quantity }} шт)</h6>
                            <p>{{ product.price }} KGS</p>
                        </div>
                        {% endfor %}
                        <br>
                        <div class="flex">
                            <a href="login.html" class="check-button ">Чек заказа</a>
                            <a href="login.html" class="check-button ">Скачать чек</a>
                        </div>

                    </div>
                    {% endif %}

                    {% if billing.title == 'Error' %}
                    <div style="width: 100%;" class="contact-us-from">
                        <h3>Ваш заказ не найден</h3>
                        <p>Заказ ID: {{ payment_code }} не найден</p>
                        <br>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>

        <!-- contact part end  -->





    </main>

    <!-- footer part start  -->

    {% include 'include/footer.html' %}

    <!-- footer part end  -->

{% endblock %}