{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- header part start  -->
    {% include 'include/second_header.html' %}
    

    <!-- mobile navigation start -->
    {% include 'include/mobile_header.html' %}

    <!-- header part end  -->
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

    <main>

        <!-- banner  -->

        <div class="inner-banner">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-12">
                        <div class="inner-banner-head">
                            <h1>Корзина</h1>
                        </div>

                        <div class="inner-banner-item">
                            <div class="left">
                                <a href="{% url 'index' %}">Главная</a>
                            </div>
                            <div class="icon">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 7L14 12L10 17" stroke="#E5E6EB" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>Корзина</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner  -->



        <!-- Shopping Cart  start -->



        <section class="shopping-cart-two shopping-cart-new-address  ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6 ">
                        <div class="row">
                            <div class="col-lg-12">
                                {% if cart %}
                                <form action="{% url 'create_billing' %}" method="post" onsubmit="return validateForm()">
                                    {% csrf_token %}
                                    <div class="shopping-cart-new-address-top-item">
                                        <div class="shopping-cart-new-address-taitel">
                                            <h4>Оформить заказ</h4>
                                        </div>

                                        <div class="shopping-cart-new-address-top-btn">
                                            <a href="{% url 'index' %}">
                                                <span>
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M5 8H15C17.2091 8 19 9.79086 19 12V12C19 14.2091 17.2091 16 15 16H5M5 8L9 5M5 8L9 11"
                                                            stroke="#394150" stroke-width="1.5" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </span>
                                                Главная
                                            </a>
                                        </div>
                                    </div>

                                    <div class="shopping-cart-new-address-from">
                                        <div class="shopping-cart-new-address-from-item">
                                            <div class="shopping-cart-new-address-from-inner">
                                                <label class="form-label">Адрес доставки</label>
                                                <input type="text" class="form-control" name="address" placeholder="Адрес Доставки">
                                            </div>
                                            <div class="shopping-cart-new-address-from-inner">
                                                <label for="exampleFormControlInput1" class="form-label">Ваш номер телефона</label>
                                                <input type="text" class="form-control" name="phone" placeholder="Ваш номер телефона">
                                            </div>
                                        </div>
                                        
                                        <div class="shopping-cart-new-address-from-item">
                                            <div class="shopping-cart-new-address-from-inner">
                                                <label for="exampleFormControlInput1" class="form-label">Способ оплаты:</label>
                                                <select class="form-select" name="payment_method" aria-label="Default select example">
                                                    <option value="Наличные" selected>Наличные</option>
                                                    <option value="Mbank">Mbank</option>
                                                    <option value="Optima">Optima</option>
                                                    <option value="О деньги">О деньги</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div id="error-message" style="color: red;"></div>

                                        <div class="shopping-cart-new-address-from-btn">
                                            <div class="check-btn">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="billing_receipt_type" value="Доставка" checked>
                                                    <label class="form-check-label" for="flexCheckDefault">Доставка</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="billing_receipt_type" value="Самовывоз">
                                                    <label class="form-check-label" for="flexCheckDefault1">Самовывоз</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shopping-cart-new-address-from-btn">
                                            <div class="check-btn">
                                                <!-- Блок reCAPTCHA -->
                                                <div class="row opt_order">
                                                    <div class="col-6">
                                                        <div class="g-recaptcha" id="html_element"></div>
                                                    </div>
                                                </div>

                                                <div class="check-btn-two">
                                                    <input type="hidden" name="total_price" value="{{ total_price }}">
                                                    <button class="main-btn-four" type="submit" id="submit-button">Оформить</button>
                                                </div>
                                            </div>
                                        </div>

                                        <style>
                                            #error-message {
                                                color: red;
                                                /* Другие стили, например, отступы, размер шрифта и т.д. */
                                            }
                                            #submit-button {
                                                display: none;
                                                /* Другие стили кнопки */
                                            }
                                        </style>

                                        <!-- Скрипт проверки reCAPTCHA -->
                                        <script>
                                            function checkFormFields() {
                                                var address = document.getElementsByName("address")[0].value;
                                                var phone = document.getElementsByName("phone")[0].value;
                                                var submitButton = document.getElementById("submit-button");
                                                var recaptchaResponse = grecaptcha.getResponse();
                                        
                                                if (address !== "" && phone !== "" && recaptchaResponse !== "") {
                                                    submitButton.style.display = 'block'; // Показать кнопку
                                                } else {
                                                    submitButton.style.display = 'none'; // Скрыть кнопку
                                                }
                                            }
                                        
                                            document.getElementsByName("address")[0].addEventListener('input', checkFormFields);
                                            document.getElementsByName("phone")[0].addEventListener('input', checkFormFields);
                                        
                                            function validateForm() {
                                                var address = document.getElementsByName("address")[0].value;
                                                var phone = document.getElementsByName("phone")[0].value;
                                                var errorMessage = document.getElementById("error-message");
                                        
                                                if (address == "" || phone == "") {
                                                    errorMessage.textContent = "Пожалуйста, заполните поля адреса доставки и номера телефона.";
                                                    return false;
                                                }
                                        
                                                if (!grecaptcha.getResponse()) {
                                                    errorMessage.textContent = "Пожалуйста, подтвердите, что вы не робот.";
                                                    return false;
                                                }
                                        
                                                errorMessage.textContent = ""; // Очистить сообщение об ошибке
                                                return true;
                                            }
                                        
                                            var onloadCallback = function () {
                                                grecaptcha.render('html_element', {
                                                    'sitekey': '6LdCDucoAAAAANQaGxXUTeJFDDXISCUAT6g9-sHi',
                                                    'callback': onResponse
                                                });
                                            };
                                        
                                            function onResponse(response) {
                                                console.log("reCAPTCHA response received:", response);
                                                checkFormFields(); // Проверить поля после reCAPTCHA
                                            }
                                        
                                            // Проверить поля при загрузке страницы
                                            window.onload = function() {
                                                checkFormFields();
                                            };
                                        </script>
                                    </div>
                                </form>
                                {% else %}
                                <div class="shopping-cart-new-address-top-item">
                                    <div class="shopping-cart-new-address-taitel">
                                        <h4>Ваша корзина пуста</h4>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 ">
                        <div class="cart-summary-box">
                            <div class="cart-summary-box-text">
                                <h3>Общая сумма</h3>
                            </div>

                            <div class="cart-summary-box-item-top">
                                {% if cart_items %}
                                {% for item in cart_items %}
                                    <div class="cart-summary-box-item cart-item" data-product-id="{{ item.product.id }}">
                                        <div class="cart-summary-box-inner">
                                            <!-- Cart Item Details -->
                                            <div class="cart-summary-box-text-two">
                                                <h4>{{ item.product.title }} {{ item.product.price }} KGS</h4>
                                                <h5><span>Количество:</span> <span class="cart-item-quantity">{{ item.quantity }}</span></h5>
                                                <p>Итого: <span class="cart-item-total">{{ item.total_price }}</span> KGS</p>
                                            </div>

                                            <!-- Cart Item Actions -->
                                            <div class="cart-item-actions">
                                                <a href="#" class="btn update-cart" data-product-id="{{ item.product.id }}" data-action="decrease">-</a>
                                                <span class="cart-item-quantity">{{ item.quantity }}</span>
                                                <a href="#" class="btn update-cart" data-product-id="{{ item.product.id }}" data-action="increase">+</a>
                                                <a href="#" class="btn remove-cart-item" data-product-id="{{ item.product.id }}">Удалить</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            </div>
                            <script>
                                document.addEventListener('DOMContentLoaded', function() {
                                    // Function to handle cart update
                                    function updateCart(productId, action) {
                                        console.log('Updating product with ID:', productId);
                                        fetch('/cart/update_item/', {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json',
                                                'X-CSRFToken': getCookie('csrftoken'),
                                            },
                                            body: JSON.stringify({'productId': productId, 'action': action})
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data.success) {
                                                console.log('Received data:', data);
                                                var quantityElement = document.querySelector(`.cart-item[data-product-id="${productId}"] .cart-item-quantity`);
                                                var totalElement = document.querySelector(`.cart-item[data-product-id="${productId}"] .cart-item-total`);
                                                // Обновляем итоговую цену всей корзины
                                                var cartTotalElement = document.querySelector('.cart-total-price');
                                                if (cartTotalElement) {
                                                    cartTotalElement.textContent = parseFloat(data.cart_total_price).toFixed(2) + ' KGS';
                                                }

                                                if (quantityElement && totalElement) {
                                                    quantityElement.textContent = data.quantity;
                                                    totalElement.textContent = data.total_price;
                                                } else {
                                                    console.error(`Element for product ID ${productId} not found`);
                                                }
                                            } else {
                                                console.error('Error updating cart:', data.error);
                                            }
                                        })
                                        .then(data => {
                                            if (data.success) {
                                                console.log('Received data:', data);
                                                var quantityElement = document.querySelector(`.cart-item[data-product-id="${productId}"] .cart-item-quantity`);
                                                var totalElement = document.querySelector(`.cart-item[data-product-id="${productId}"] .cart-item-total`);
                                                var cartTotalElement = document.querySelector('.cart-total-price');
                                                var deliveryCostElement = document.querySelector('.delivery-cost');
                                                var finalTotalElement = document.querySelector('.final-total-price');

                                                if (quantityElement && totalElement) {
                                                    quantityElement.textContent = data.quantity;
                                                    totalElement.textContent = parseInt(data.total_price).toFixed(2) + ' KGS';
                                                } else {
                                                    console.error(`Element for product ID ${productId} not found`);
                                                }

                                                if (cartTotalElement && deliveryCostElement && finalTotalElement) {
                                                    cartTotalElement.textContent = parseInt(data.cart_total_price).toFixed(2) + ' KGS';
                                                    deliveryCostElement.textContent = parseInt(data.delivery_cost).toFixed(2) + ' KGS';
                                                    finalTotalElement.textContent = parseInt(data.final_total_price).toFixed(2) + ' KGS';
                                                }
                                            } else {
                                                console.error('Error updating cart:', data.error);
                                            }
                                        });
                                    }
                            
                                    // Attach event listeners to update cart buttons
                                    document.querySelectorAll('.update-cart').forEach(btn => {
                                        btn.addEventListener('click', function(e) {
                                            e.preventDefault();
                                            var productId = this.dataset.productId;
                                            var action = this.dataset.action;
                                            updateCart(productId, action);
                                        });
                                    });
                            
                                    // Function to handle cart item removal
                                    function removeFromCart(productId) {
                                        fetch('/cart/remove_item/', { // Измененный URL
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json',
                                                'X-CSRFToken': getCookie('csrftoken'),
                                            },
                                            body: JSON.stringify({'productId': productId})
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            location.reload(); // Reload the page to update the cart display
                                        });
                                    }

                                    // Attach event listeners to remove cart item buttons
                                    document.querySelectorAll('.remove-cart-item').forEach(btn => {
                                        btn.addEventListener('click', function(e) {
                                            e.preventDefault();
                                            var productId = this.dataset.productId;
                                            removeFromCart(productId); // Используем функцию removeFromCart
                                        });
                                    });
                            
                                    // Function to get CSRF token
                                    function getCookie(name) {
                                        let cookieValue = null;
                                        if (document.cookie && document.cookie !== '') {
                                            const cookies = document.cookie.split(';');
                                            for (let i = 0; i < cookies.length; i++) {
                                                let cookie = cookies[i].trim();
                                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                    break;
                                                }
                                            }
                                        }
                                        return cookieValue;
                                    }
                                });
                            </script>
                            
                            <div class="apply-coupon">
                                {% if cart.promo_code == False %}
                                <div class="apply-coupon-taitel">
                                    <h4>Ввести промокод</h4>
                                </div>

                                <div class="apply-coupon-btn">
                                    <form id="promo-code-form" method="post" action="{% url 'apply_promo_code' %}"> <!-- Add the ID here and the action to handle the form submission -->
                                        {% csrf_token %}
                                        <div class="apply-coupon-form">
                                            <input type="text" id="promo-code-input" class="form-control" name="promo_code" placeholder="Промокод"> <!-- Add the ID here -->
                                            <button type="submit" class="main-btn-four">Принять</button>
                                        </div>
                                    </form>
                                </div>                                
                                <div id="promo-code-error" style="color: red;"></div>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        document.getElementById('promo-code-form').addEventListener('submit', function(e) {
                                            e.preventDefault();
                                            const promoCodeInput = document.getElementById('promo-code-input');
                                            const promoCodeError = document.getElementById('promo-code-error');
                                            const csrfToken = getCookie('csrftoken');
                                            fetch(this.action, { // Use the form's action attribute
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/x-www-form-urlencoded', // Correct content type for form submission
                                                    'X-CSRFToken': csrfToken,
                                                },
                                                body: new URLSearchParams(new FormData(this)).toString() // Serialize form data correctly
                                            })
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data.success) {
                                                    location.reload(); // or update the cart display without reloading
                                                } else if (data.error) {
                                                    promoCodeError.textContent = data.error;
                                                }
                                            });
                                        });
                                
                                        function getCookie(name) {
                                            // ... your existing getCookie function ...
                                        }
                                    });
                                </script>
                                
                               
                                {% endif %}
                                {% if cart and cart.promo_code == True  %}
                                <div class="apply-coupon-taitel">
                                    <h4 style="color: red;">Промокод использован</h4>
                                </div>
                                {% endif %}

                                <div class="apply-coupon-box">
                                    <div class="shopping-cart-list">
                                       
                                        <!-- <div class="shopping-cart-list-text">
                                            <h4>Доставка</h4>
                                            {% if free_delivery == True %}
                                            <a href="#">Бесплатно</a>
                                            {% else %}
                                            <a href="#">250 KGS</a>
                                            {% endif %}
                                        </div> -->

                                        <div class="shopping-cart-list-text">
                                            <h4>Доставка</h4>
                                            <span class="delivery-cost">{{ delivery_cost }} KGS</span>
                                        </div>
                                        
                                    </div>
                                    <div class="shopping-cart-list shopping-cart-list-btm">
                                        <div class="shopping-cart-list-text">
                                            <h4>Итого</h4>
                                            <span class="cart-total-price">{{ total_price }} KGS</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Shopping Cart end  -->

        <!-- Restaurant part-start -->

        {% include 'include/faq.html' %}

        <!-- Restaurant part-end -->

    </main>

    <!-- footer part start  -->

    {% include 'include/footer.html' %}


    <!-- footer part end  -->

{% endblock %}