{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/detail-page.css' %}" rel="stylesheet">



<body data-spy="scroll" data-bs-target="#secondary_nav" data-offset="75">
				
	{% include 'include/header.html' %}
	<!-- /header -->
	
	<main>

		<div class="hero_in detail_page background-image" data-background="url({% static 'img/shushi.jpeg' %})">
			<div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
				
				<div class="container">
					<div class="main_info">
						<div class="row">
							<div class="col-xl-4 col-lg-5 col-md-6">
								<div class="head"><div class="score"><span>{{ setting }}<em>350 отзывов</em></span><strong>8.9</strong></div></div>
								<h1>{{ product.title }}</h1>
								<h3>{{ product.price }} KGS</h3>
							</div>
							<div class="col-xl-8 col-lg-7 col-md-6 position-relative">
								<div class="buttons clearfix">
									<span class="magnific-gallery">
										<!-- <a href="{% static 'img/detail_1.jpg' %}" class="btn_hero" title="Photo title" data-effect="mfp-zoom-in"><i class="icon_chat_alt"></i>View photos</a> -->
										<a href="{% static 'img/detail_2.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"></a>
										<a href="{% static 'img/detail_3.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"></a>
									</span>
									<a href="{% url 'index' %}" class="btn_hero wishlist"><i class="icon_chat_alt"></i>В корзину</a>
								</div>
							</div>
						</div>
						<!-- /row -->
					</div>
					<!-- /main_info -->
				</div>
			</div>
		</div>
		<!--/hero_in-->

		
		<div class="bg_gray">
		    <div class="container margin_detail">
		        <div class="row">
		            <div class="col-lg-8 list_menu">
		                <section id="section-1">
		                    <h4>Описание</h4>
                            <p>{{ product.description }}</p>
                            <img src="{{ product.image.url }}" alt="{{ product.title }}">
		                    <!-- /row -->
		                </section>
		                <!-- /section -->
		                
		            </div>
		            <!-- /col -->
		            <div class="col-lg-4" id="sidebar_fixed">
		                <div class="box_order mobile_fixed">
		                    <div class="head">
		                        <h3>Связаться</h3>
		                    	<small>Или позвоните на наш номер +996 772 34 32 06</small>
		                        <a href="{% url 'index' %}" class="close_panel_mobile"><i class="icon_close"></i></a>
		                    </div>
		                    <!-- /head -->
		                    <div class="main">
		                         <div id="message-detail-contact"></div>
				                    <form method="post" action="{% url 'contact' %}">
										{% csrf_token %}
				                    	<input type="text" name="restaurant_name" id="restaurant_name" value="Pizzeria Da Aldredo" hidden="hidden">
				                    	<div class="form-group">
				                    		<input type="text" name="name" class="form-control" placeholder="Имя">
					                    </div>
					                    <div class="form-group">
					                    	<input type="text" name="phone" class="form-control" placeholder="Номер телефона">
					                    </div>
					                    <!-- <div class="form-group add_bottom_15">
					                    	<textarea class="form-control" name="message_detail" id="message_detail" placeholder="Your message"></textarea>
					                    </div> -->
					                    <div class="btn_1_mobile" style="position: relative;">
											<input class="btn_1 gradient full-width" type="submit" value="Отправить">
						               </div>
				                    </form>
				                </div>
							</div>
							
							<form method="post" action="{% url 'add_to_cart' %}">
								<div class="btn_1_mobile" style="position: relative;">
									{% csrf_token %}
									<input type="hidden" name="product_id" value="{{ product.id }}">
									<input type="hidden" name="price" value="{{ product.price }}">
									<div class="row opt_order">
										<div class="col-6">
											<input class="js-result form-control" type="number" name="quantity" min="1" value="1">
											<button type="button" class="btn_1 gradient js-minus">-</button>
											<button type="button" class="btn_1 gradient js-plus">+</button>
										</div>
									</div>
									<input class="btn_1 gradient full-width" type="submit" value="В корзину" style="margin-top: 10px;">
								</div>
							</form>

		                </div>
		                <!-- /box_order -->
		                <div class="btn_reserve_fixed"><a href="#0" class="btn_1 gradient full-width">Send a Message</a></div>
		            </div>
		        </div>
		        <!-- /row -->
		    </div>
		    <!-- /container -->
		</div>
		<!-- /bg_gray -->

		
		<!-- /container -->

	</main>
	<!-- /main -->

	{% include 'include/footer.html' %}
	<!--/footer-->

	<div id="toTop" class="detail_page"></div><!-- Back to top button -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const quantityInput = document.querySelector(".js-result");
        const plusButton = document.querySelector(".js-plus");
        const minusButton = document.querySelector(".js-minus");

        plusButton.addEventListener("click", function() {
            quantityInput.value = parseInt(quantityInput.value) + 1;
        });

        minusButton.addEventListener("click", function() {
            const currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });
    });
</script>
	
{% endblock %}