{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/detail-page.css' %}" rel="stylesheet">



<body data-spy="scroll" data-bs-target="#secondary_nav" data-offset="75">
				
	{% include 'include/header.html' %}
	<!-- /header -->
	
	<main>

		<div class="hero_in detail_page background-image" data-background="url({% static 'img/shushi.jpeg' %})">
			<div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
				
				<div class="container">
					<div class="main_info">
						<div class="row">
							<div class="col-xl-4 col-lg-5 col-md-6">
								<div class="head"><div class="score"><span>{{ setting }}<em>350 отзывов</em></span><strong>8.9</strong></div></div>
								<h1>{{ product.title }}</h1>
								<h3>{{ product.price }} KGS</h3>
							</div>
							<div class="col-xl-8 col-lg-7 col-md-6 position-relative">
								<div class="buttons clearfix">
									<span class="magnific-gallery">
										<!-- <a href="{% static 'img/detail_1.jpg' %}" class="btn_hero" title="Photo title" data-effect="mfp-zoom-in"><i class="icon_chat_alt"></i>View photos</a> -->
										<a href="{% static 'img/detail_2.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"></a>
										<a href="{% static 'img/detail_3.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"></a>
									</span>
									
								</div>
							</div>
						</div>
						<!-- /row -->
					</div>
					<!-- /main_info -->
				</div>
			</div>
		</div>
		<!--/hero_in-->

		
		<div class="bg_gray">
		    <div class="container margin_detail">
		        <div class="row">
		            <div class="col-lg-8 list_menu">
		                <section id="section-1">
		                    <h4>Описание:</h4>
							<p>{{ product.title }}</p>
                            <p>{{ product.description }}</p>
							{% if product.iiko_image %}
                            <img src="{{ product.iiko_image }}" alt="{{ product.title }}" width="50%">
							{% else %}
							<img src="{% static 'noimage.jpg' %}" alt="{{ product.title }}">
							{% endif %}
		                    <!-- /row -->
		                </section>
		                <!-- /section -->
		                
		            </div>
		            <!-- /col -->
		            <div class="col-lg-4" id="sidebar_fixed">
		                <div class="box_order mobile_fixed">
		                    <!-- форма чек лист старт -->
								<div class="head">
									<h3>Общая сумма</h3>
								</div>
								<!-- /head -->
								<div class="main">
									<ul class="clearfix">
										{% if cart_items %}
										{% for item in cart_items %}
										<li><a href="{% url 'product_detail' item.product.id  %}">{{ item.quantity }} {{ item.product.title }} {{ item.product.price }} KGS</a></span><span>{{item.total_price }} KGS</span></li>
										{% endfor %}
										{% endif %}
									</ul>
									<ul class="clearfix">
										
										{% if free_delivery == True %}
										<li>Доставка<span>Бесплатно</span></li>
										{% else %}
										<li>Доставка<span>250 KGS</span></li>
										{% endif %}
										<li class="total">Итого<span>{{ total_price }} KGS</span></li>
										<input type="hidden" name="total_price" value="{{ total_price }}">
									</ul>
							<!-- форма чек лист конец -->
							
							<form method="post" action="{% url 'add_to_cart' %}">
								<div class="btn_1_mobile" style="position: relative;">
									{% csrf_token %}
									<input type="hidden" name="product_id" value="{{ product.id }}">
									<input type="hidden" name="price" value="{{ product.price }}">
									<div class="row opt_order">
										<div class="col-6">
											<p>Количество товара</p>
											<input class="js-result form-control" type="number" name="quantity" min="1" value="1">
											<button type="button" class="btn_1 gradient js-minus" style="margin-top: 10px;">-</button>
											<button type="button" class="btn_1 gradient js-plus">+</button>
										</div>
									</div>
									<input class="btn_1 gradient full-width" type="submit" value="В корзину" style="margin-top: 10px;">
								</div>
							</form>

		                </div>
		                <!-- /box_order -->
		                <div class="btn_reserve_fixed"><a href="#0" class="btn_1 gradient full-width">Send a Message</a></div>
		            </div>
		        </div>
		        <!-- /row -->
		    </div>
		    <!-- /container -->
		</div>
		<!-- /bg_gray -->

		
		<!-- /container -->

	</main>
	<!-- /main -->

	{% include 'include/footer.html' %}
	<!--/footer-->

	<div id="toTop" class="detail_page"></div><!-- Back to top button -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const quantityInput = document.querySelector(".js-result");
        const plusButton = document.querySelector(".js-plus");
        const minusButton = document.querySelector(".js-minus");

        plusButton.addEventListener("click", function() {
            quantityInput.value = parseInt(quantityInput.value) + 1;
        });

        minusButton.addEventListener("click", function() {
            const currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });
    });
</script>
	
{% endblock %}