{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <div class="footer-logo">
                    <div class="logo">
                        <img src="{{ setting.logo.url }}" width="20%" alt="{{ setting.title }}">
                    </div>
                </div>

                <div class="footer-text">
                    <h4>{{ setting.description }}</h4>
                </div>

                <div class="footer-icon">
                    <div class="icon">
                        {% if setting.facebook %}
                        <a href="{{ setting.facebook }}" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        {% endif %}
                        {% if setting.tiktok %}
                        <a href="{{ setting.tiktok }}" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                        {% endif %}
                        {% if setting.instagram %}
                        <a href="{{ setting.instagram }}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        {% endif %}
                        {% if setting.telegram %}
                        <a href="{{ setting.telegram }}" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                        {% endif %}
                        {% if setting.whatsapp %}
                        <a href="{{ setting.whatsapp }}" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mol-md-12 ">
                <div class="row">
                    <div class="col-lg-3 col-md-3" data-aos="fade-right" data-aos-delay="100">
                        <div class="quick-line-item">
                            <div class="quick-line-item-head">
                                <h3>Страницы</h3>
                            </div>
                            <div class="quick-line-menu">
                                <ul>
                                    <li>
                                        <a href="{% url 'index' %}">Главная</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cart' %}">Корзина</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'foods' %}">Все блюда</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact' %}">Меню</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'check_order' %}">Отследить заказ</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact' %}">Контакты</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3" data-aos="fade-right" data-aos-delay="200">
                        <div class="quick-line-item">
                            <div class="quick-line-item-head">
                                <h3>Условия и конфид</h3>
                            </div>

                            <div class="quick-line-menu">
                                <ul>
                                    <li>
                                        <a href="{% url 'index' %}">Доверие и безопасность</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'index' %}">Условия использования</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'index' %}">Политика конфиденциальности</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="fade-right" data-aos-delay="300">
                        <div class="quick-line-item">
                            <div class="quick-line-item-head">
                                <h3>Подпишитесь на нашу рассылку</h3>
                            </div>

                            <div class="quick-line-btn">
                                <div class="icon">
                                    <img src="{% static 'assets/images/icon/sms.png' %}" alt="icon">
                                </div>
                                <input type="email" class="form-control" id="exampleFormControlInput6"
                                    placeholder="Ваша почта">
                                <a href="#" class="main-btn-four">Принять</a>
                            </div>


                            <div class="quick-line-btn-text">
                                <h6>Мы принимаем способы оплаты:</h6>
                            </div>

                            <div class="quick-line-btn-img">
                                <a href="#">
                                    <img src="{% static 'assets/images/small/Visa.png' %}" alt="img">
                                </a>
                                <a href="#">
                                    <img src="https://mbank.kg/media/logo/Frame_4_qkrlduu.png" height="40px" alt="img">
                                </a>
                                <a href="#">
                                    <img src="https://24.kg/files/media/198/198094.jpg" height="40px" alt="img">
                                </a>
                                <a href="#">
                                    <img src="{% static 'assets/images/small/Mastercard.png' %}" alt="img">
                                </a>
                                <a href="#">
                                    <img src="{% static 'assets/images/small/GooglePay.png' %}" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-text">
                    <h4>©2023 <span><a href="https://instagram.com/codex_kg/">Codex KG</a></span>. Все права защищены</h4>
                </div>
            </div>
        </div>
    </div>
</div>