/* 

.module {
    border: none;
    margin-bottom: 30px;
    background: var(--body-bg);


    height: fit-content;
    border-radius: 20px;
}
*/
#content-main {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#nav-sidebar {
    flex: 1 0 275px !important;
    padding: 1rem;
}
input{
    outline: yellow !important;
}
div.breadcrumbs{
    color: white !important;
}
#nav-filter{
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
}

.dashboard #content {
    width: 90vw;
}

a {
    color: black !important;
}

.module {

    position: relative;
    box-shadow: 4px 4px 25px 0px rgba(34, 60, 80, 0.2);
    /* border: none; */

    padding: 3rem 0rem 1rem 0rem;
    border-radius: 20px;
    margin-bottom: 30px;
    background: var(--body-bg);
}

.module table {

    border-collapse: collapse;

    border: 1px solid #ccc;
    overflow: hidden;

    border: none;
}

#content-related {
    display: none;
}

.dashboard .module table td,
th {

    padding: 1rem;

}

tr:nth-child(even),
tr:nth-child(even) .errorlist,
tr:nth-child(odd)+.row-form-errors,
tr:nth-child(odd)+.row-form-errors .errorlist {
    background-color: white !important;
}

h1 {
    margin: 13px 0 56px;
    font-weight: 300;
    font-size: 1.25rem;
    color: var(--body-quiet-color);
}

/* 
tr {
    display: flex !important;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;

}


.dashboard .module table th {
    width: fit-content;
    position: absolute;
    border-bottom: none;
    background: var(--body-bg);
    border: 1px solid #ccc;
    top: -15px;
    left: 15px;
    background-color: var(--primary);
    height: fit-content;
    border-radius: 20px;
}

tr {
    padding: 2rem 1rem;
    position: relative;
    background: var(--body-bg);
    border: 1px solid #ccc;
    width: 40%;
    height: fit-content;
    border-radius: 20px;
}

tr td {
    width: 40%;
    padding: 10px;

    border-radius: 10px;
 
    background: var(--primary);
    color: white;
}

a {
    color: black !important;
}

 */

.module table tbody {

    padding: 1rem;
    gap: 2rem;

}

th {
    margin: 0 !important;
}


.module h2,
.module caption,
.inline-group h2 {
    background: rgb(245, 196, 35);
    background: linear-gradient(90deg, rgba(245, 196, 35, 1) 0%, rgba(241, 215, 22, 1) 100%);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    position: absolute;
    top: -20px;
    left: 16px;
    width: 50%;
    border-radius: 10px;
    padding: 1rem;
    color: rgb(255, 255, 255) !important;
}

a.section:link,
a.section:visited {
    color: var(--header-link-color) !important;
    text-decoration: none;
}