{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

<style>
    #error_page {
        margin-top: 20px; /* Добавляет отступ сверху для фотографии 404 */
        margin-bottom: 20px; /* Добавляет отступ снизу для фотографии 404 */
    }

    /* Дополнительно, если хотите добавить отступы для header и footer: */
    .header-class { /* Замените .header-class на реальный класс вашего header */
        margin-bottom: 20px; /* Отступ снизу для header */
    }

    .footer-class { /* Замените .footer-class на реальный класс вашего footer */
        margin-top: 20px; /* Отступ сверху для footer */
    }
</style>

{% include 'include/second_header.html' %}
<!-- /header -->

<main class="bg_gray">
    <div id="error_page">
        <div class="container">
            <div class="row">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-7 col-lg-9">
                        <figure><img src="{% static '505.png' %}" alt="" class="img-fluid" width="550" height="234">
                        </figure>
                        <p>Просим прощения, но страница вызвало ошибку 500 на стороне сервера</p>
                        <p>{{ error_log }}</p>
                    </div>
                    <a href="{% url 'index' %}" class="btn_1">Главная</a>
                </div>
                <!-- /row -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /error -->
</main>
<!-- /main -->

{% include 'include/footer.html' %}
<!--/footer-->

{% endblock %}
