{% extends 'include/menu-main.html' %}
{% load static %} 
{% block content %}
    <div class="single-page-area">
        <div class="single-banner-area">
            <div class="container">
                <h3>{{ category.title }}</h3>
            </div>
        </div>
        <div class="single-page-details">
            <div class="container">
                <div class="home-category-slider owl-carousel">
                    {% include 'include/online_menu_categoty.html' %}
                </div>

                {% for product in products %}
                <div class="single-product-wrap">
                    <div class="thumb">
                        {% if product.iiko_image %}
                            <img src="{{ product.iiko_image }}" alt="img">
                        {% else %}
{#                            <img src="{{ product.image.url }}" alt="img">#}
                        {% endif %}


{#                        <a class="fav-btn" href="{% url 'menu_detail' product.id table.number %}"><i class="fa fa-heart"></i></a>#}
                    </div>
                    <div class="details">
                        <h6><a href="{% url 'menu_detail' product.id table.number %}">{{ product.title }}</a></h6>
                        <div class="ratting">
                        </div>
                        <span><span class="ms-3">{{ product.price }} KGS</span>
                        <form method="post" action="{% url 'add_to_order' %}" class="add-to-order-form">
                              {% csrf_token %}
                              <input type="hidden" name="product_id" value="{{ product.id }}">
                              <input type="hidden" name="price" value="{{ product.price }}">
                              <input type="hidden" name="table_uuid" value="{{ table.number }}">
                              <input class="js-result form-control" type="hidden" name="quantity" min="1" value="1">
                              <span class="ms-3"><button type="submit" class="btn btn-danger" style="float: left;" data-product-id="{{ product.id }}">В корзину</button></span>
                        </form>
                        </span>
                    </div>
                </div>


                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                      document.querySelectorAll('.add-to-order-form').forEach(function(form) {
                          if (!form.dataset.isListenerAdded) {
                              form.addEventListener('submit', function(event) {
                                  event.preventDefault();
                                  var formData = new FormData(this);

                                  fetch(this.getAttribute('action'), {
                                      method: 'POST',
                                      body: formData
                                  })
                                  .then(response => response.json())
                                  .then(data => {
                                      if (data.success) {
                                          Swal.fire({
                                              icon: 'success',
                                              title: 'Товар добавлен',
                                              text: 'Товар добавлен в вашу корзину',
                                              showCancelButton: true,
                                              cancelButtonText: 'ОК',
                                              confirmButtonText: 'Корзина',
                                              showCloseButton: true,
                                              didOpen: () => {
                                                  // Добавление кастомного класса к кнопке "Корзина"
                                                  document.querySelector('.swal2-confirm').classList.add('main-btn-four');
                                              }
                                          }).then((result) => {
                                              if (result.isConfirmed) {
                                                  window.location.href = '{% url "order" table.number %}'; // URL корзины
                                              }
                                          });
                                      } else {
                                          Swal.fire({
                                              icon: 'error',
                                              title: 'Упс...',
                                              text: 'Произошла ошибка: ' + data.message
                                          });
                                      }
                                      const itemsMenuCount = document.querySelector('#order-items-menu-count');
                                      if (itemsMenuCount) {
                                          itemsMenuCount.textContent = data.total_items;
                                      }
                                  })
                                  .catch(error => {
                                      console.error('Error:', error);
                                      Swal.fire({
                                          icon: 'error',
                                          title: 'Упс...',
                                          text: 'Произошла ошибка: ' + error
                                      });
                                  });
                              });
                              form.dataset.isListenerAdded = "true";
                          }
                      });
                  </script>

                {% endfor %}
            </div>
        </div>
        {% include 'include/online_menu_menu.html' %}
    </div>
{% endblock %}