{% include 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- SPECIFIC CSS -->
    <link href="{% static 'css/listing.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" integrity="sha512-EaaldggZt4DPKMYBa143vxXQqLq5LE29DG/0OoVenoyxDrAScYrcYcHIuxYO9YNTIQMgD8c8gIUU8FQw7WpXSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<style>
		.strip ul{
			text-align: right;
		}

		.btn-wrapper-fixed{
			position: fixed;
			z-index: 1000;
			left: 20px;
			bottom: 30px;
		}

		.btn-menu-fixed {			
			background-color: #e54750;
			color: white;
			padding: 15px;
			border-radius: 5%;
			text-align: center;
			font-size: 16px;
			text-decoration: none;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
			position: relative;
		}

		.items-in-menu-count {
			position: absolute;
			top: -10px;
			right: -10px;
			background-color: red;
			color: white;
			border-radius: 50%;
			padding: 2px 5px;
			font-size: 12px;
			line-height: 1; /* Убирает лишний отступ внутри круга */
			min-width: 20px; /* Минимальная ширина для круглой формы */
			text-align: center;
		}

		.btn-menu-fixed:hover {
			color: #fff;
			background-color: #f3723b;
		}

		.btn-menu-fixed i {
			margin-right: 5px;
		}

	</style>

</head>

<body>
				
	<!-- /header -->
	
	<main>
		
		<div class="filters_full clearfix add_bottom_15">
			<div class="container">
				
				<!-- /type_delivery -->
	            <!-- <a class="btn_map mobile btn_filters" data-bs-toggle="collapse" href="#collapseMap"><i class="icon_pin_alt"></i></a>
					<a href="#collapseFilters" data-bs-toggle="collapse" class="btn_filters"><i class="icon_adjust-vert"></i><span>Filters</span></a> -->
				</div>
				{% include 'include/menu_header.html' %}
			</div>
			<!-- /filters_full -->
			<div class="collapse" id="collapseMap">
				<!-- <div id="map" class="map"></div> -->
			</div>
			<!-- /Map -->
			
	    <div class="container margin_30_20">

	        <div class="promo mb_30">
	            <h3>Меню стола Doyobisan {{ table.number }}</h3>
	            <p>Меню стола ID: {{ table.number }}</p>
				<img src="{{ table.qr_code_image.url }}" alt="{{ table.number }}" style="margin-top: 10px;" width="100px">
	            <i class="icon-food_icon_delivery"></i>
	        </div>
	        <!-- /promo -->

	        <!-- Ваш HTML-код -->
			<div class="row isotope-wrapper">
				{% for product in products %}
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 isotope-item delivery">
					<div class="strip">
						<figure>
							<span class="ribbon off">{{ setting.title }}</span>
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" data-src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" class="img-fluid lazy" alt="{{ product.title }}">
							<a href="{% url 'menu_detail' product.id table.number %}" class="strip_info">
								<small>{{ product.price }} KGS</small>
								<div class="item_title">
									<h3>{{ product.title }} {{ product.price }} KGS</h3>
									<small>{{ product.description|truncatewords:10 }}</small>
								</div>
							</a>
						</figure>
						<ul>
							<form method="POST" action="{% url 'add_to_order' %}" class="add-to-order-form">
								{% csrf_token %}
								<input type="hidden" name="product_id" value="{{ product.id }}">
								<input type="hidden" name="price" value="{{ product.price }}">
								<input type="hidden" name="table_uuid" value="{{ table.number }}">
								<input class="js-result form-control" type="hidden" name="quantity" min="1" value="1">

								<button type="submit" class="btn_1" data-product-id="{{ product.id }}">В корзину {{ table.number }}</button>
							</form>
							
						</ul>
					</div>
				</div>
				{% endfor %}
			</div>
			
			<div class="btn-wrapper-fixed">
				<a href="{% url 'order' table.number %}" class="btn-menu-fixed">
					<i class="fa fa-shopping-cart"></i> Мои заказы
					<span class="items-in-menu-count" id="items-menu-count">{{ items_count }}</span>
				</a>
			</div>
			
			

			<!-- Подключение SweetAlert (CDN) -->
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

			<!-- JavaScript для AJAX и SweetAlert -->
			<script>
				// Обработчик события отправки формы
				document.querySelectorAll('.add-to-order-form').forEach(function(form) {
					form.addEventListener('submit', function(event) {
						event.preventDefault(); // Предотвращаем отправку формы по умолчанию

						var productID = this.querySelector('button').getAttribute('data-product-id'); // Получаем ID продукта
						var formData = new FormData(this);

						// Отправляем AJAX-запрос
						fetch(this.getAttribute('action'), {
							method: 'POST',
							body: formData
						})
						.then(function(response) {
							return response.json(); // Ожидаем JSON-ответ
						})
						.then(function(data) {
							if (data.success) {
								Swal.fire({
									icon: 'success',
									title: 'Продукт добавлен в заказ!',
									showConfirmButton: false,
									timer: 3000,
									html: `
										<p>Продукт добавлен в заказ!</p>
										<a href="{% url 'order' table.number %}" class="btn_1">Меню</a>
										<a id="closeAddingAlert" class="btn_1">Закрыть</ф>
									`,
									showCloseButton: true,
									didOpen: () => {
										document.getElementById('closeAddingAlert').addEventListener('click', () => {
											Swal.close();
										});
									}
								});
								document.querySelector('#items-menu-count').textContent = data.total_items;
							} else {
								Swal.fire({
									icon: 'error',
									title: 'Ошибка при добавлении продукта в заказ.',
									showConfirmButton: false,
									timer: 3000
								});
							}
						})
						.catch(function(error) {
							console.error('Ошибка:', error);
						});
					});
				});
			</script>

	    </div>
	    <!-- /container -->
	</main>
	<!-- /main -->

	{% include 'include/footer.html' %}
	<!--/footer-->

	<div id="toTop"></div><!-- Back to top button -->

    <!-- SPECIFIC SCRIPTS -->
    <script src="{% static 'js/sticky_sidebar.min.js' %}"></script>
    <script src="{% static 'js/specific_listing.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script>
		$(window).on("load",function(){
		  var $container = $('.isotope-wrapper');
		  $container.isotope({ itemSelector: '.isotope-item', layoutMode: 'masonry' });
		});
		$('.type_delivery').on( 'click', 'input', 'change', function(){
		  var selector = $(this).attr('data-filter');
		  $('.isotope-wrapper').isotope({ filter: selector });
		});
	</script>

    <!-- Map -->
    <script src="{% static 'js/main_map_scripts.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH-1noGUoStq-5nLCbxHLhAPHN1kPrW2k&libraries=places&callback=initMap"></script>

{% endblock %}