{% include 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- SPECIFIC CSS -->
    <link href="{% static 'css/listing.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>

<body>
				
	<!-- /header -->
	
	<main>
		
		<div class="filters_full clearfix add_bottom_15">
			<div class="container">
				
				<!-- /type_delivery -->
	            <!-- <a class="btn_map mobile btn_filters" data-bs-toggle="collapse" href="#collapseMap"><i class="icon_pin_alt"></i></a>
					<a href="#collapseFilters" data-bs-toggle="collapse" class="btn_filters"><i class="icon_adjust-vert"></i><span>Filters</span></a> -->
				</div>
				{% include 'include/menu_header.html' %}
			</div>
			<!-- /filters_full -->
			<div class="collapse" id="collapseMap">
				<!-- <div id="map" class="map"></div> -->
			</div>
			<!-- /Map -->
			
			<div class="collapse filters_2" id="collapseFilters">
				<div class="container margin_30_20">
	            <div class="row">
	                <div class="col-md-4">
	                    <div class="filter_type">
	                        <h6>Categories</h6>
	                        <ul>
	                            <li>
	                                <label class="container_check">Pizza - Italian <small>12</small>
	                                    <input type="checkbox">
	                                    <span class="checkmark"></span>
	                                </label>
	                            </li>
	                            <li>
	                                <label class="container_check">Japanese - Sushi <small>24</small>
	                                    <input type="checkbox">
	                                    <span class="checkmark"></span>
	                                </label>
	                            </li>
	                            <li>
	                                <label class="container_check">Burghers <small>23</small>
	                                    <input type="checkbox">
	                                    <span class="checkmark"></span>
	                                </label>
	                            </li>
	                            <li>
	                                <label class="container_check">Vegetarian <small>11</small>
	                                    <input type="checkbox">
	                                    <span class="checkmark"></span>
	                                </label>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-md-4">
	                    <div class="filter_type">
	                        <h6>Rating</h6>
	                        <ul>
	                            <li>
	                                <label class="container_check">Superb 9+ <small>06</small>
	                                    <input type="checkbox">
	                                    <span class="checkmark"></span>
	                                </label>
	                            </li>
	                            <li>
	                                <label class="container_check">Very Good 8+ <small>12</small>
	                                    <input type="checkbox">
	                                    <span class="checkmark"></span>
	                                </label>
	                            </li>
	                            <li>
	                                <label class="container_check">Good 7+ <small>17</small>
	                                    <input type="checkbox">
	                                    <span class="checkmark"></span>
	                                </label>
	                            </li>
	                            <li>
	                                <label class="container_check">Pleasant 6+ <small>43</small>
	                                    <input type="checkbox">
	                                    <span class="checkmark"></span>
	                                </label>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-md-4">
	                    <div class="filter_type">
	                        <h6>Distance</h6>
	                        <div class="distance"> Radius around selected destination <span></span> km</div>
	                        <div class="mb-3
	                        "><input type="range" min="10" max="100" step="10" value="30" data-orientation="horizontal"></div>
	                    </div>
	                </div>
	            </div>
	            <!-- /row -->
	        </div>
	    </div>
	    <!-- /filters -->
	    <div class="container margin_30_20">

	        <div class="promo mb_30">
	            <h3>Меню стола Doyobisan {{ table.number }}</h3>
	            <p>Меню стола ID: {{ table.number }}</p>
	            <i class="icon-food_icon_delivery"></i>
	        </div>
	        <!-- /promo -->

	        <!-- Ваш HTML-код -->
			<div class="row isotope-wrapper">
				{% for product in products %}
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 isotope-item delivery">
					<div class="strip">
						<figure>
							<span class="ribbon off">{{ setting.title }}</span>
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" data-src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" class="img-fluid lazy" alt="{{ product.title }}">
							<a href="{% url 'product_detail' product.id %}" class="strip_info">
								<small>{{ product.price }} KGS</small>
								<div class="item_title">
									<h3>{{ product.title }} {{ product.price }} KGS</h3>
									<small>{{ product.description|truncatewords:10 }}</small>
								</div>
							</a>
						</figure>
						<ul>
							<form method="POST" action="{% url 'add_to_order' %}" class="add-to-order-form">
								{% csrf_token %}
								<input type="hidden" name="product_id" value="{{ product.id }}">
								<input type="hidden" name="price" value="{{ product.price }}">
								<input type="hidden" name="table_uuid" value="{{ table.number }}">
								<input class="js-result form-control" type="hidden" name="quantity" min="1" value="1">

								<button type="submit" class="btn_1" data-product-id="{{ product.id }}">Заказать на стол {{ table.number }}</button>
								<a href="{% url 'order' table.number %}" class="btn_1">Мои заказы</a>
							</form>
							
						</ul>
					</div>
				</div>
				{% endfor %}
			</div>


			<!-- Подключение SweetAlert (CDN) -->
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

			<!-- JavaScript для AJAX и SweetAlert -->
			<script>
				// Обработчик события отправки формы
				document.querySelectorAll('.add-to-order-form').forEach(function(form) {
					form.addEventListener('submit', function(event) {
						event.preventDefault(); // Предотвращаем отправку формы по умолчанию

						var productID = this.querySelector('button').getAttribute('data-product-id'); // Получаем ID продукта
						var formData = new FormData(this);

						// Отправляем AJAX-запрос
						fetch(this.getAttribute('action'), {
							method: 'POST',
							body: formData
						})
						.then(function(response) {
							return response.json(); // Ожидаем JSON-ответ
						})
						.then(function(data) {
							if (data.success) {
								Swal.fire({
								icon: 'success',
								title: 'Продукт добавлен в заказ!',
								showConfirmButton: false,
								timer: 1000,
								html: `
									<p>Продукт добавлен в заказ!</p>
									<a href="{% url 'order' table.number %}" class="btn_1">Меню</a>
								`
							});
							} else {
								Swal.fire({
									icon: 'error',
									title: 'Ошибка при добавлении продукта в заказ.',
									showConfirmButton: false,
									timer: 1000
								});
							}
						})
						.catch(function(error) {
							console.error('Ошибка:', error);
						});
					});
				});
			</script>

	        <!-- /strip row -->
	        <div class="pagination_fg">
	            <a href="#">&laquo;</a>
	            <a href="#" class="active">1</a>
	            <a href="#">2</a>
	            <a href="#">3</a>
	            <a href="#">4</a>
	            <a href="#">5</a>
	            <a href="#">&raquo;</a>
	        </div>
	    </div>
	    <!-- /container -->
	</main>
	<!-- /main -->

	{% include 'include/footer.html' %}
	<!--/footer-->

	<div id="toTop"></div><!-- Back to top button -->

    <!-- SPECIFIC SCRIPTS -->
    <script src="{% static 'js/sticky_sidebar.min.js' %}"></script>
    <script src="{% static 'js/specific_listing.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script>
		$(window).on("load",function(){
		  var $container = $('.isotope-wrapper');
		  $container.isotope({ itemSelector: '.isotope-item', layoutMode: 'masonry' });
		});
		$('.type_delivery').on( 'click', 'input', 'change', function(){
		  var selector = $(this).attr('data-filter');
		  $('.isotope-wrapper').isotope({ filter: selector });
		});
	</script>

    <!-- Map -->
    <script src="{% static 'js/main_map_scripts.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH-1noGUoStq-5nLCbxHLhAPHN1kPrW2k&libraries=places&callback=initMap"></script>

{% endblock %}