{% extends 'include/menu-main.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="product-details-area">
            <div class="product-details-wrap text-center">
                <h5>{{ product.title }}</h5>
                {% if product.iiko_image %}
                <img src="{{ product.iiko_image }}" alt="img">
                {% else %}
                <img src="{{ product.image.url }}" alt="img">
                {% endif %}
            </div>
            <div class="wrap-details">
                <h6>Описание</h6>
            </div>
            <p>{{ product.description }}</p>
            <form action="{% url 'add_to_order' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="price" value="{{ product.price }}">
                <input type="hidden" name="table_uuid" value="{{ table.number }}">

                <div class="product-size">
                    <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus" data-quantity-adjust="minus">
                        <input type="number" class="input-text qty text" step="1" min="1" max="10000" name="quantity" value="1">
                        <input type="button" value="+" class="plus" data-quantity-adjust="plus">
                    </div>
                </div>
                <div class="sent-to-cart-btn">
                    <div class="media-left">
                        <h5>{{ product.price }} KGS</h5>
                    </div>
                    <button><img src="{%  static 'assets-menu/img/icon/svg/bag.svg' %}" alt="img"></button>
                </div>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var adjustButtons = document.querySelectorAll('.btn-qty-adjust');

                        adjustButtons.forEach(function(btn) {
                            btn.addEventListener('click', function() {
                                var adjustType = this.getAttribute('data-quantity-adjust');
                                var qtyInput = this.parentElement.querySelector('.js-result');
                                var currentQty = parseInt(qtyInput.value);

                                if (adjustType === 'plus') {
                                    qtyInput.value = currentQty + 1;
                                } else if (adjustType === 'minus') {
                                    if (currentQty > 1) {
                                        qtyInput.value = currentQty - 1;
                                    }
                                }
                            });
                        });
                    });
                </script>
            </form>
        </div>
        {% include 'include/online_menu_menu.html' %}
    </div>

{% endblock %}
