{% extends 'include/menu-main.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="main-home-area pt-0">
            <div class="home-category-slider owl-carousel">
                {% include 'include/online_menu_categoty.html' %}
            </div>

            <h5 class="section-title">Категории</h5>
            {% for category in categories %}
            <div class="single-product-wrap">
                <div class="thumb">
                    <a href="{% url 'category_menu_detail' table.number category.slug %}">
                        <img src="{{ category.iiko_image }}" alt="{{ category.title }}">
                    </a>
                </div>
                <div class="details">
                    <h6><a href="{% url 'category_menu_detail' table.number category.slug %}">{{ category.title }}</a></h6>
                </div>
            </div>
            {% endfor %}

            {% include 'include/online_menu_menu.html' %}

        </div>
    </div>

{% endblock %}