{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% load socialaccount %}

    <!-- SPECIFIC CSS -->
    <link href="{% static 'css/order-sign_up.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    
</head>

<body id="register_bg">
	{% include 'include/second_header.html' %}
	<div id="register">
		<aside>
			<figure>
				
			</figure>
			<div class="access_social">
					<a href="{% provider_login_url 'google' %}" class="social_bt facebook">Регистрация с Telegram</a>
					<a href="{% provider_login_url 'google' %}" class="social_bt google">Регистрация с Google</a>
				</div>
            <div class="divider"><span>Или</span></div>
			<form autocomplete="off">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Имя">
					<i class="icon_pencil-edit"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Фамилия">
					<i class="icon_pencil-edit"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="email" placeholder="Почта">
					<i class="icon_mail_alt"></i>
				</div>
                <div class="form-group">
					<input class="form-control" type="text" placeholder="Имя пользователя">
					<i class="icon_mobile"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" id="password" placeholder="Пароль">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" id="confirm_password" placeholder="Потвердить пароль">
					<i class="icon_lock_alt"></i>
				</div>
				<div id="pass-info" class="clearfix"></div>
				<a href="#0" class="btn_1 gradient full-width">Зарегистрироваться</a>
				<div class="text-center mt-2"><small>У вас есть аккаунт? <strong><a href="{% url 'login' %}">Войдите</a></strong></small></div>
			</form>
			<div class="copy">© 2023 BigBee & Codex</div>
		</aside>
	</div>
	<!-- /login -->
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="{% static 'js/pw_strenght.js' %}"></script>	
  
{% endblock %}